<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- jQuery -->
  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/jquery-mask/dist/jquery.mask.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/jquery-confirm/dist/jquery-confirm.min.css">
  <script type="text/javascript" src="/jquery-confirm/dist/jquery-confirm.min.js"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
  <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- FontAwesome -->
  <link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="/fontawesome/css/regular.css" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/global.css" />
  <link rel="stylesheet" type="text/css" href="/css/menu.css" />
  <!-- JS -->
  <script defer type="text/javascript" src="/js/menu.js"></script>
  <title>Menu Principal</title>
</head>

<body>
  <div class="container-fluid header">
    <h1 class="display-4">Menu Principal</h1>
    <p class="lead">Este é o menu principal, nele você pode realizar cadastros, edições, exclusões e vizualizar
      todos os veículos!</p>
    <hr class="my-4">
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="card card-menu mt-5">
        <div class="card-body">
          <h5 class="card-title text-center">Menu Principal</h5>
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" data-toggle="tab" href="#menu" role="tab" aria-controls="menu"
                aria-selected="true">Lista de veículos cadastrados</a>
              <a class="nav-item nav-link" id="navFormVehicle" data-toggle="tab" href="#tabFormVehicle" role="tab"
                onclick="carregarFormulario();" aria-controls="newVehicle" aria-selected="false">Cadastrar
                veículo</a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content">
    <div class="tab-pane show active" id="menu" role="tabpanel">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="card card-menu" style="border-radius: 0 0 1rem 1rem;">
            <div class="card-body">
              <div class="col">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Placa</th>
                      <th scope="col">Status</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%
                    let i = 1;
                    result.forEach(car => {
                      const typeCapitalized = car.type.charAt(0).toUpperCase() + car.type.slice(1);
                    %>
                    <tr>
                      <th scope="row"><%=i++%></th>
                      <td><%=car.name%></td>
                      <td><%=typeCapitalized%></td>
                      <td><%=car.license_plate%></td>
                      <% if(car.status === true) { %>
                      <td class="disponivel">DISPONÍVEL</td>
                      <% } else { %>
                      <td class="indisponivel">INDISPONÍVEL</td>
                      <% } %>
                      <td>
                        <div class="row">
                          <form>
                            <button type="button" onclick="carregarFormulario('<%=car.id%>');"
                              class="btn btn-link far fa-edit fa-2x mr-4"></button>
                          </form>
                          <form class="delete" action="/menu/<%=car.id%>/delete">
                            <button type="submit" class="btn btn-link far fa-trash-alt fa-2x"></button>
                          </form>
                        </div>
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tabFormVehicle" class="tab-pane" role="tabpanel"></div>
  </div>
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
</body>

</html>